#footer{
    background-color: #003049;
    color:#f0f0f0;
    display: grid;
    grid-template-areas: 
        "footer-text"
        "newsletter"
        "menu-items"
        "social-media";
    padding: 1rem;
    max-width: 100%;
}
.footer-container__section{
    margin-top: 1rem;
}
.footer-text{
    grid-area: footer-text;
}
.newsletter{
    grid-area: newsletter;
}
.menu-items{
    grid-area: menu-items;
}
.social-media{
    grid-area: social-media;
}
.footer__menu{
    list-style: none;
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

.footer__menu-link{
    text-decoration: none;
    color: white;
}

.footer__menu-link:hover{
    color: gray;
    border-bottom: 2px solid #F77F00;
}

.footer-icon{
    width: 1.5rem;
    cursor: pointer;
    margin: .2rem;
}

.footer-icon:hover{
    opacity: .8;
}
.footer-container__section-title{
    margin-bottom: 1rem;
    color: #f0f0f0;
}
.footer-container__section-form{
    position: relative;
    display: flex;
    justify-content:space-between;
    max-width: 22rem;
    outline: 1px solid #f0f0f0;
    outline-offset: .1rem;
}
.footer-input{
    padding: .5rem 1rem;
    background-color: transparent;
    border: none;
    font-size: .7rem;
    width: 100%;
}
.footer-btn{
    background-color: #F77F00;
    color: white;
    padding: .5rem 1rem;
    margin-left: 2rem;
    border: none;
    font-size: .8rem;
    cursor: pointer;
}
.footer-logo{
    width: 7rem;
    margin-bottom: 1rem;
}
/* RESPONSIVE */

/* TABLETS */
@media screen and (min-width: 481px) {
    #footer{
        grid-template-areas: 
            "footer-text footer-text"
            "newsletter newsletter"
            "menu-items social-media";
    }

}

/* LAPTOPS */
@media screen and (min-width: 769px) {
   #footer{
       grid-template-areas: 
        "footer-text footer-text footer-text"
        "menu-items newsletter social-media";
   }
   .footer__menu{
       flex-direction: row;
   }
   .footer__menu-link{
       margin-right: 1rem;
   }
}