#footer {
    background-color: #003049;
    color: white;
    height: max-content;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

#footer .footer-box-2 .footer__menu {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

#footer .footer__menu-item {
    list-style-type: none;
}

#footer .footer__menu-link {
    color: white;
    text-decoration: none;
}

#footer .footer-box-1 {
    padding: 19px 27px 0px 27px;
}

#footer .footer-box-1-text {
    display: grid;
    gap: 2em;
}

#footer .footer-box-2 {
    padding: 42px 0px 0px 0px;
}

#footer .footer-box-2 .footer__menu-item:hover {
    border-bottom: 2px solid #ffb54c;
}

#footer .footer-box-3 {
    display: flex;
}

#footer .social-meadia ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#footer .social-meadia ul li {
    padding-bottom: 1em;
}


#footer .social-meadia ul li:hover {
    color: #ffb54c;

}

#footer .social-meadia {
    text-align: center;
    margin-top: 20px;
}

/* LAPTOPS */
@media screen and (min-width: 768px) {


    #footer {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: none;
    }

    #footer .footer-box-1-text {
        display: grid;
        gap: 1em;
    }

    #footer .footer-box-3 {
        display: flex;
    }
}