@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    color: #003049;
    background-color: #f3eff5;
}

/* MAIN CONTAINER */
.container{
    display: grid;
    grid-template-areas: 
        "image"
        "ingredients"
        "summary"
        "directions";
}
.container__image{
    width: 100%;
    margin: 3rem 0;
    grid-area: image;
}
.food-image{
    border-radius: 2rem;
    display: block;
    margin: auto;
}

/* INGREDENTS CONTAINER */
.container__ingredients{
    grid-area: ingredients;
}
.container__ingredients-heading{
    display: flex;
    justify-content: center;
    align-items: center;
}
.ingredients-heading{
    font-size: 1.6rem;
}
.container__ingredients-items{
    margin: 2rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.ingredient-item{
    margin: .5rem;
    border: 1px solid #f77f00;
    border-radius: 1rem;
    padding: .5rem;
}
.ingredient-name{
    font-size: 1rem;
}
.ingredient-quantity{
    font-size: .9rem;
}

/* SUMMARY CONTAINER */
.container__summary{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 18rem;
    margin: 0 auto;
    border: 2px solid #f77f00;
    border-radius: 2rem;
    padding: 2rem;
    grid-area: summary;
}
.summary-heading{
    margin-bottom: 1rem;
    font-size: 1.6rem;
}
.summary-item{
    list-style: none;
    display: flex;
    align-items:center;
    justify-content: flex-start;
}
.summary-logo{
    margin: .5rem;
}

/* DIRECTIONS CONTAINER */
.container__directions{
    margin-top: 3rem;
    padding: 1.5rem;
    background-color:#003049;
    border-radius: 2rem;
    color: white;
    overflow: auto;
    grid-area: directions;
}
.directions-heading{
    color: #f77f00;
    font-size: 2rem;
    padding: 1rem 0;
    margin-bottom: 1rem;
}
.directions-item{
    padding: 0 .3rem;
}

/* FOOTER */
.footer{
    margin-top: 2rem;
}
.footer__menu-item{
    list-style: none;
    padding: 2rem;
}
.footer__menu-link{
    text-decoration: none;
    color: #003049;
    padding-bottom: .3rem;
}
.footer__menu-link:hover{
    color: #002f4971;
}
.footer__menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* RESPONSIVE */

/* TABLETS 481px - 768px*/
@media screen and (min-width: 481px) {
    body{
        font-size: 16px;
    }
    .container{
        grid-template-areas: 
        "image image"
        "summary ingredients"
        "directions directions";
    }
    .food-image{
        width: 30rem;
    }
    .container__ingredients-heading{
        justify-content: flex-start;
    }
    .container__ingredients-items{
        justify-content: flex-start;
    }
    .ingredients-logo{
        width: 5rem;
    }
    .container__directions{
        padding: 1rem 2.5rem;
        margin: 4rem 1rem;
    }
    .footer__menu{
        flex-direction: row;
    }
}
/* LAPTOPS  769px - 1024px*/
@media screen and (min-width: 769px) {
    body{
        font-size: 16px;
    }
    .container{
        grid-template-areas: 
        "image ingredients"
        "summary directions"
    }
    .container__image{
        margin: 2.5rem;
    }
    .container__ingredients{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        margin-top: 2.5rem;
        margin-left: 2rem;
    }
    .ingredients-logo{
        width: 4rem;
        border-radius: 5rem;
        margin-right: 1rem;
    }
    .ingredients-heading{
        font-size: 2rem;
    }
    .food-image{
        width: 30rem;
        height: 20rem;
    }
    .container__summary{
        width: 20rem;
        margin-left: 5rem;
    }
    .container__directions{
        margin: 0 2rem 0 0;
    }
}
