#header{
    display: flex;
    justify-content: space-between;
    padding: 9px 22px 5px 22px;
    background-color: #003049;
}
#header #logo{
  width: 40%;
}
#header #logo img{
    width: 4vmax;
}
#header #menu-links{
    width: 46%;
    margin: 15px 0px 0px 0px;
}

#header #menu-links .menu{
display: flex;
justify-content: space-around;
list-style-type: none;
}
#header .menu-item:hover{
    border-bottom: #ffb54c solid 2px;
}
#header .menu-link{
    text-decoration: none;
    color: white;
}
#header #list-of-fav-recipes {
    background-color: white;
    border-radius: 20px;
    padding: 7px;
    width: 3%;
    text-align: center;
    height: 2.4em;
    margin-top: 9px;

}
#header #list-of-fav-recipes:hover {
 background-color: #ffb54c;
 color: white;
}
#header #list-of-fav-recipes i:hover {
    color: white;
   }

#header #list-of-fav-recipes a{
  text-align: center;
}