@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
    margin: 0%;
    padding: 0%;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;

}

#main {
    height: fit-content;
}

#main #section-search {
    display: flex;
}

#main #section-search #search {
    width: 23vw;
    border: 1px solid orange;
    border-radius: 30px;
}

#main #section-search #btn-submit-search {
    border-radius: 30px;
    width: 2vw;
    border: none;
    background-color: orange;
    color: white;
    margin-left: 10px;
}

#main .container {
    padding: 6vh;
    display: grid;
    grid-template-columns: 1fr 0.3fr;
}

#main .box img {
    width: 16vw;
    border-radius: 45px;
}

#main #section-newest-food h2 {
    position: static;
    margin: 1em 0px 1em 0px;
}

#main .cat-list {
    position: static;
    margin: 1em 0px 1em 0px;
    display: flex;
    justify-content: space-around;
}

#main #section-cat-food-search {
    width: 60vw;
}

#main .cat-food-list {
    display: grid;
    grid-template-columns: 0.3fr 1fr;
}

#main .cat-food-list img {
    max-width: 10vw;
    border-radius: 20px;
}

#main .food-title {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
}

#main #section-most-popular-food h2 {
    position: static;
    margin: 1em 0px 1em 0px;
}

#main .cat {
    width: fit-content;
    border-radius: 30px;
    border: 1px solid orange;
    padding: 0.5em;
    cursor: pointer;
}
#main .cat:hover {

    border: 1px solid #003049;
    background-color: orange;
    color: white;
}
#main #section-most-popular-food{
    text-align: center;
}