@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0%;
    padding: 0%;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;

}

#main {
    height: fit-content;
}

#main #section-search {
    display: flex;
}

#main #section-search #search {
    border: 1px solid orange;
    border-radius: 30px;
}

#main #section-search #btn-submit-search {
    border-radius: 40px;
    border: none;
    background-color: orange;
    color: white;
    margin-left: 10px;
    cursor: pointer;
    padding: 0.5em;
}

#main .container {
    padding: 6vh;
}

#main .box .box-img img {
    width: 386px;
    border-radius: 45px;
}

#main .cat-list {
    position: static;
    margin: 1em 0px 1em 0px;
    display: flex;
    overflow: scroll;
}

#main #section-cat-food-search {
    width: 90vw;
}

#main .cat-food-list {
    margin-top: 4em;
    display: grid;
    gap: 2em;
}


#main .food-title {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
}

#main #section-most-popular-food h2 {
    position: static;
    margin: 1em 0px 1em 0px;
}

#main .cat {
    width: fit-content;
    border-radius: 30px;
    border: 1px solid orange;
    padding: 0.5em;
    cursor: pointer;
}

#main .cat:hover {

    border: 1px solid #003049;
    background-color: orange;
    color: white;
}

#main #section-most-popular-food {
    text-align: center;
}

.duration {
    display: flex;
    justify-content: space-between;
}

.empty lottie-plazer {
    width: 332px;
    height: 388px;
}


/* modal css */

/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.box {
    cursor: pointer;
}

@media screen and (min-width: 768px) {
    .box-description {
        max-width: 53vw;
        padding-top: 2em;
        padding-bottom: 2em;
    }

    #main #section-search #search {
        width: 30vw;
    }

    .empty lottie-player {
        width: 600px;
        height: 600px;
    }
}

@media screen and (min-width: 1024px) {
    #main .cat-list {
        overflow: hidden;
    }

    .empty lottie-player {
        width: 600px;
        height: 600px;
    }
}