* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

/* Variables */

:root{
    --blue: #003049;
    --red: #D62828;
    --orange: #F77F00;
    --yellow: #FCBF49; 
    --gray: #f0f0f0;
    --light: #fff;
    --dark: #000;
}

body{
    overflow-y: hidden;
}

section{
    width: 100%;
    min-height: 100vh;
    position: relative;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--blue);
    overflow-y: hidden;
}

section .circle{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    clip-path: circle(65% at right -20%);
    background: var(--red); 
}

header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo{
    position: relative;
    max-width: 130px;
}

header .navigation{
    position: relative;
    display: flex;
}

header .navigation li{
    list-style: none;
}

header .navigation li a{
    display: inline-block;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
}

.content{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content .textBox{
    position: relative;
    max-width: 600px;
    margin-right: 20px;
}

.content .textBox h2{
    color: #fff;
    font-size: 3em;
    margin-bottom: 10px;
    line-height: 1.4em;
    font-weight: 700;
}

.content .textBox p{
    color: #fff;
}

.content .btn{
    width: 150px;
    border:0;
    outline: none;
    color: #fff;    
    background: var(--orange);
    border-radius: 2rem;
    cursor: pointer; 
    transition: width 0.5s;
    padding: 0.8rem 1.5rem;
    font-family: 'Poppins', sans-serif;
    margin-top: 1rem;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;}

.btn img{
    width: 18px;
    display: none;
    transform: rotate(45deg);
}

.btn:hover img{
    display: block;
}

.btn:hover{
    width: 160px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Slider Start */

.swiper{
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 180px;
    height: 460px;
    display: flex;
    justify-content: center;
    margin: 0 150px 0 150px;
}


.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right{
    background-image: none;
}

.swiper-slide img{
    position: absolute;
    bottom: 0;
    max-height: 100%;
}

/* Slider End */

.content .imgBox{
    width: 500px;
    display: flex;
    justify-content: flex-end;
}

.content .imgBox img{
    max-width: 400px;
}

/* RESPONSIVE  */

@media (max-width:991px){
    body{
        overflow-y: visible;
    }    
    header{
        padding: 40px;
    }
    section{
        padding: 150px 40px;
    }
    .sci{
        left: 40px;
    }
    .content{
        flex-direction: column;
    }
    .content .textBox,
    .content .imgBox{
        max-width: 100%;
    }
    .swiper-slide{
        height: 400px;
    }
    header .navigation{
        display: none;
    }
    header .navigation.active{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: var(--red);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 10;
    }
    header .navigation li a{
        margin: 10px 0;
        font-size: 1.5em;
        font-weight: 300;
    }
    .toggle{
        position: relative;
        width: 30px;
        height: 30px;
        background-image: url(./images/icons/menu.png);
        background-size: 30px;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
        z-index: 10000;
    }
    .toggle.active{
        background: url(./images/icons/close.png);
        background-size: 25px;
        background-repeat: no-repeat;
        background-position: center;
        position: fixed;
        right: 40px;

    }
}
